<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hhubibi.mapper.CardMapper">
    <select id="getCard" parameterType="String" resultType="com.hhubibi.entity.Card">
        select * from card where cno = #{cno}
    </select>

    <select id="getAllCard" resultType="com.hhubibi.entity.Card">
        select * from card
    </select>

    <delete id="deleteCard" parameterType="String">
        delete from card where cno = #{cno}
    </delete>

    <insert id="addCard" parameterType="com.hhubibi.entity.Card">
        insert into card (cno, name, department, type)
        values (#{cno}, #{name}, #{department}, #{type})
    </insert>

    <select id="queryCard" parameterType="com.hhubibi.entity.Card" resultType="com.hhubibi.entity.Card">
        select * from card
        where 1
            <if test="cno != null">
                and cno = #{cno}
            </if>
            <if test="name != null">
                and name = #{name}
            </if>
        order by cno
        limit 50
    </select>

    <update id="editCard" parameterType="com.hhubibi.entity.Book">
        update card set
        name = #{name},
        department = #{department},
        type = #{type}
        where cno = #{cno}
    </update>
</mapper>